<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
<!--    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />-->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        tools:node="remove" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RUN_USER_INITIATED_JOBS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="org.torproject.android" />
        <package android:name="com.dropbox.android" />
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT" />
            <category android:name="android.intent.category.OPENABLE" />
            <data android:mimeType="application/*" />
        </intent>
    </queries>

    <!--
    NOTE: The empty `taskAffinity=""` attributes should improve security, so other apps cannot
    inject activities. However, it also breaks functionality. Namely: Dropbox login via dropbox.com
    website authentication. To remedy this, the taskAffinity needs to be left alone in all
    activities, which belong to the task with `com.dropbox.core.android.AuthActivity` on top!

    See https://github.com/OpenArchive/OA-Trail-of-Bits/issues/23
    -->

    <application
        android:name=".SaveApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme.NoActionBar"
        tools:replace="android:icon,android:allowBackup"
        tools:ignore="UnusedAttribute,LockedOrientationActivity">
        <!-- task affinity lets us define within which 'task' does a activity belong to.
        By default, the activity has the same task affinity as its root
        Trail of bits ticket: https://github.com/OpenArchive/OA-Trail-of-Bits/issues/23
        -->
        <activity
            android:name=".features.folders.BrowseFoldersActivity"
            android:exported="false"
            android:label="@string/browse_existing"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".upload.UploadManagerActivity"
            android:exported="false"
            android:label="@string/title_activity_upload_manager"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".features.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- filter for sending text or images; accepts SEND action and audio/photo/video data -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/*" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="message/*" />
                <data android:mimeType="multipart/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".services.webdav.WebDavActivity"
            android:label="@string/title_activity_login"
            android:taskAffinity="" />

        <activity android:name=".features.internetarchive.presentation.InternetArchiveActivity"
            android:label="@string/title_activity_login"
            android:taskAffinity="" />

        <activity
            android:name=".services.gdrive.GDriveActivity" />

        <activity
            android:name=".features.settings.FoldersActivity"
            android:label="@string/folders"
            android:exported="false" />

        <activity android:name=".features.settings.GeneralSettingsActivity"
            android:label="@string/general"
            android:exported="false"
            android:taskAffinity="" />

        <activity android:name=".features.settings.ProofModeSettingsActivity"
            android:label="@string/proofmode"
            android:exported="false"
            android:taskAffinity="" />

        <activity android:name=".features.media.PreviewActivity"
            android:label="@string/preview_media"
            android:exported="false"
            android:taskAffinity="" />

        <activity
            android:name=".features.media.ReviewActivity"
            android:label="@string/edit_media_info"
            android:windowSoftInputMode="stateHidden"
            android:exported="false"
            android:taskAffinity="" />

        <activity
            android:name=".features.onboarding.SpaceSetupActivity"
            android:label="@string/title_activity_first_start"
            android:exported="false"
            android:taskAffinity="" />

        <activity
            android:name=".features.onboarding.Onboarding23Activity"
            android:noHistory="true"
            android:exported="false"
            android:taskAffinity="" />

        <activity
            android:name=".features.onboarding.Onboarding23InstructionsActivity"
            android:noHistory="true"
            android:exported="false"
            android:taskAffinity="" />

        <activity
            android:name=".features.folders.CreateNewFolderActivity"
            android:label="@string/new_folder"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".features.folders.AddFolderActivity"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".features.settings.EditFolderActivity"
            android:taskAffinity=""
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".features.settings.ConsentActivity"
            android:label="@string/health_checks"
            android:taskAffinity="" />

        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="net.opendasharchive.openarchive.db" />

        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />

        <meta-data
            android:name="DATABASE"
            android:value="openarchive.db" />

        <meta-data
            android:name="VERSION"
            android:value="36" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <provider
            android:name=".provider.TorStatusContentProvider"
            android:authorities="org.opendasharchive.safe.provider.tor"
            android:exported="false" />

        <service
            android:name=".upload.UploadService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

    </application>

</manifest>
